body {
    background: #67B26F;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #5ca2cd, #67B29F);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #5ca2cd, #67B29F); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: white;
}

input {
    border: none;
    border-bottom: 5px solid white;
    background-color: inherit;
    resize: none;
    font-size: 24px;
    color: white;
}

body {
    padding: 10px;
}

.row {
    padding: 20px;
}

.btn {
    padding: 10px;
    border-radius: 3px;
    background-color: white;
    -webkit-box-shadow: 0px 2px 5px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 2px 5px -1px rgba(0,0,0,0.75);
    box-shadow: 0px 2px 5px -1px rgba(0,0,0,0.75);
}

#main-text-input {
    width: 100%;
    
}

#main-text-input:focus {
    outline: none;
}

#main-form {
    width: 100%;
}
